<a href="https://colab.research.google.com/github/krithi65/absolute-beginner/blob/main/absolute_beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6

In [ ]:
N = int(input( ))
for i in range(1, N+1):
     if i%2==0:
      print(i)

2.Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input :
20
Sample Output :
173.21

In [ ]:
import math
s = float(input( ))
area=(math.sqrt(3)/4)*(s*s)
print('%0.2f'% area)

3.Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1

In [ ]:
x,y=map(int,input().split())
if (x>y):
    smaller=y
else:
    smaller=x
for i in range(1,smaller+1):
    if (x%i==0) and (y%i==0):
        hcf=i
print(str(hcf))

4.Find the Nth term in the provided series.

Sample Input :
18
Sample Output :
324

In [ ]:
num =int(input( ))
if(num<0):
    print("Error")
elif(num==0):
    print(0)
else:
    for i in range(1,num+1):
        i=num*num
    print(i)

5.Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2

In [ ]:
a,n = map (int,input( ).split( ))
for i in range(n):
    print (a)