<a href="https://colab.research.google.com/github/krithi65/absolute-beginner/blob/main/beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

21.write a program to check whether this year is a leap year or not.
Sample Input :
2020
Sample Output :
Y

In [ ]:
A = int(input( ))
if(A % 400==0 ):
    print("Y")
elif(A % 4==0):
    print("Y")
    

    
elif(A  % 100!=0):
    print("N")
else:
    print("N")

22.Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input :
1000 2 5
Sample Output :
100.00

In [ ]:
p,n,r=map(float,input().split())


simple_inter = (p*n*r/100)
print(round(simple_inter,2))

23.Print the small number out of the two numbers.

Sample Input :
23 1
Sample Output :
1

In [ ]:
num1,num2 = map(int,input( ).split( ))

if(num1<num2):
 print(num1)
else: 
 print(num2)

24.Print the table of nine with single space between the elements till the number that is input.

Sample Input :
3
Sample Output :
9 18 27

In [ ]:
N=int(input())
st=""

if N==0:
    print("Null")
for i in range(1,N+1):
    st=st+" "+str(9*i)
print(st.strip())

25.Find the cube of the number.

Sample Input :
2
Sample Output :
8

In [ ]:
num = int(input( ))
cube = num*num*num
print(cube)

26.Convert and print this value in meters and centimeters.

Sample Input :
2
Sample Output :
2000
200000

In [ ]:
num1=int(input())
a= 1000*num1
b= 100000*num1
print(a)
print(b)

27.Find and print the largest among the three

Sample Input :
1
2
3
Sample Output :
3

In [ ]:
num1 = input( )
num2 = input( )
num3 = input( )
if(num1>num2)and(num1>num3):
    print(num1)
elif(num2>num1)and(num2>num3):
    print(num2)
else:
    print(num3)

28.Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

Sample Input :
2
Sample Output :
Even

In [ ]:
num = float(input( ))
round(num)
if(num == 0):
    print("zero")
elif(num %2 == 0):
    print("Even")
else:
    print("Odd")

29.Write a program to convert this into Fahrenheit. 
Sample Input :
12
Sample Output :
53.60

In [ ]:
cel=float(input())
fa=(cel*1.8)+32
print(round(fa,2))

30.Print the First 3 multiples of the number with single spaces between them as an output.

Sample Input :
2
Sample Output :
2 4 6

In [ ]:
num1=int(input())
a= 1*num1
b= 2*num1
c= 3*num1
print(a,b,c)