<a href="https://colab.research.google.com/github/krithi65/absolute-beginner/blob/main/programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6.Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [ ]:
n= int(input( ))
for i in range(n,0,-1):
    print (i)

2.Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [ ]:
a=input()
print(a[ ::-1])

8.Print the factorial of the integer.

Sample Input :
2
Sample Output :
2

In [ ]:
n=int(input( ))
product=1
for i in range(n,0,-1):
    product=product*i
print(product)

9.Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [ ]:
n = input( )
even_lst = [ ]
odd_lst = [ ]
for i in n:
    if int(i)%2==0:
        even_lst.append(i)
    else:
        odd_lst.append(i)
even_lst.sort()
odd_lst.sort()
print(*even_lst)
print(*odd_lst)

10.Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [ ]:
n = int(input( ))
sum = 0
for value in str(n):
    sum = sum + int(value)
print(sum)

11.Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :
8
Sample Output :
31

In [ ]:
nmonth=int(input( ))
if(nmonth==0 or nmonth==99):
    print("Error")
elif(nmonth==2):
    print(28)
elif(nmonth==1 and nmonth==3 and nmonth==5 and nmonth==7 and nmonth==8 and nmonth==10 and nmonth==12):
    print(31)
else:
   print(30)

12.Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [ ]:
n= int(input( ))
for i in range(1,n+1):
  print(i)

13.Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [ ]:
a = input( )
digit = []
for i in a:
    digit.append(i)
print(*digit)

14.Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [ ]:
n = int(input( ))
sum = 0
for value in range(1, n + 1):
    sum = sum + value
print(sum)

15.Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

Sample Input :
2
3
Sample Output :
6

In [ ]:
a = int(input( ))
b= int(input( ))
c=a*b
print(round(c,1))

16.Write a code to get the input and print it 5 times.
Sample Input :
4
Sample Output :
4
4
4
4
4

In [ ]:
a = int(input( ))
for i in range (5):
    print(a)

17.Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

Sample Input :
2
Sample Output :
12.57

In [ ]:
import math
a = float(input( ))
if(a>-1):    
    circumference = 2*math.pi*a
    print(round(circumference,2))
else:
    print("error")

18.Find the sum of the two numbers (A + B)

Sample Input :
1
1
Sample Output :
2

In [ ]:
A = float(input( ))
B = float(input( ))
C = A + B
print(round(C,1))

19.Print the two values of X after rounding off to 2 decimal places if required.

Sample Input :
1 5 6
Sample Output :
-2.00
-3.00

In [ ]:
import cmath

a,b,c = map(int,input().split())

d = (b*b) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)

sol2 = (-b+cmath.sqrt(d))/(2*a)

print('%0.2f' % sol2.real)

print('%0.2f' % sol1.real)

20.Remove all the whitespaces and then print the length of the remaining string.

Sample Input :
Lorem Ipsum
Sample Output :
10

In [ ]:
A=input( )
res=sum(map(len,A.split( )))
print(res)